body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    font-family: "Poppins", "Arial", sans-serif;
    background: #04153f;
    color: white;
}
input {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-align: right;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}

.container {
    background: linear-gradient(to right, #08013839, #021028);
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    position: relative;
    width: 70%;
    height: 530px;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.signin-container {
    width: 50%;
    height: 100%;
}
.signin-subcontainer {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-maincontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-form,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
}

.signup-container {
    position: relative;
    width: 50%;
    height: 530px;
}
.signup-sub-container {
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    right: 1px;
    text-align: center;
    background: linear-gradient(to right, #021028, #04153f);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.6);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.normal-btn {
    padding: 10px 45px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #112d4e;
    color: white;
}
.normal-btn:hover,
.line5:hover,
.line11:hover {
    box-shadow: 0 0 5px rgb(124, 49, 49);
}
.line5,
.line11 {
    background-color: #112d4e;
}
.hide {
    display: none;
}
.add {
    animation: adding 1s ease-in;
}
.multianimateout {
    animation: multianimatingout 0.5s ease-in-out;
}
@keyframes multianimatingout {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes adding {
    0% {
        opacity: 0;
    }
    100% {
        opacity: none;
    }
}


@media (max-width : 500px) {
  *{
    margin: 0;
  }
  .text{
    width: 100%;
  }
  .content1 {
    font-size: 150%;
  }
  .content2 {
    display: none;
  }
  .content3{
    display: block;
    font-size: 12px;
  }
  .signup-main-container {
    border-radius: 2%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  .signup-container {
    height: 25%;
    width: 100%;
    flex-direction: column;
  }
  .container {
    width: 100%;
    height: 100%;
    justify-content: center;  
    flex-direction: column;
    border-radius: 0%;
  }
  .signin-container {
    width: 100%;
    height: 75%;
  }
  .normal-btn{
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 14px;
  }
  input {
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
  }
  .signin-form, .signup-form{
    gap: 25px;
    width: 75%;
  }
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }
}